PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:3000
BACKEND_PUBLIC_URL=http://localhost:5000

# MongoDB URI
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.l46db0x.mongodb.net/streetwear_store?retryWrites=true&w=majority

# Better-Auth / JWT Secret
BETTER_AUTH_SECRET=your_32_char_secret_key_here
BETTER_AUTH_URL=http://localhost:3000

# SSLCommerz Payment Gateway
SSLCOMMERZ_STORE_ID=your_store_id
SSLCOMMERZ_STORE_PASSWORD=your_store_password
SSLCOMMERZ_IS_SANDBOX=true
